@model IEnumerable<Section>

@{
    ViewData["Title"] = "SectionSearch View";
}

<script type="text/javascript"> //script for hiding rows
    function showHideRow(row) {
        $("#" + row).toggle();
    }
</script>

<script> //script for collapsible tables
    let toggle = tableID => {
        let element = document.getElementById(tableID);
        let hidden = element.getAttribute("hidden");
        if (hidden) {
            element.removeAttribute("hidden");
            button.innerText = "-";
        }
        else {
            element.setAttribute("hidden", "hidden");
            button.innerText = "+";
        }
    }
</script>

<h1>Section Search View</h1>
<h2>Course List</h2>

<body>
    <div class="scrollitsection">
        @foreach (var (sections, i) in Model.Select((sections, i) => (sections, i)))
        {
            int appender = i;
            string tableName = "table_detail" + appender.ToString();

            <div class="wrapper">
                <table table border=1 id=@tableName align=left cellpadding=10>
                    <tr>
                        <th>@sections.getCourseName() (@sections.getUnits()
                            units)</th>
                    </tr>
                    <table table border=1 id=@tableName align=left cellpadding=10>
                        <tr>
                            <th>Enr</th>
                            <th>Detail</th>
                            <th>Class#</th>
                            <th>Enrollment Size</th>
                            <th>Location</th>
                            <th>Days</th>
                            <th>Time</th>
                            <th>Professor</th>
                        </tr>
                        <tr>
                            <td>+</td>
                            <th> <a href="@Url.Action("SectionDescription", "Section")" class="elements">
                                    <span>Details</span>
                                </a></th>
                            <td>@sections.sectionNumber</td>
                            <td>@sections.enrollmentCap</td>
                            <td>@sections.classLocation</td>
                            <td>@sections.getDay()</td>
                            <td>@sections.startTime - @sections.endTime</td>
                            <td>@sections.getProfessorFullName()</td>
                        </tr>
            </div>
        }
    </div>
</body>