@model Registration.Models.Section
@{
    ViewData["Title"] = "SectionDescription View";
}
<script type="text/javascript"> //script for hiding rows
    function showHideRow(row) {
        $("#" + row).toggle();
    }
</script>
<script> //script for collapsible tables
    let toggle = tableID => {
        let element = document.getElementById(tableID);
        let hidden = element.getAttribute("hidden");
        if (hidden) {
            element.removeAttribute("hidden");
            button.innerText = "-";
        }
        else {
            element.setAttribute("hidden", "hidden");
            button.innerText = "+";
        }
    }
</script>
@*<button onclick="toggle(this);">+</button>*@
<h1>Section Detail</h1>
<h2>@Model.getCourseName()</h2>
<div id="wrapper">
    <table border=1 id="table_detail" align=left cellpadding=10>
        <tr>
            <th><button onclick="toggle('table_detail21');">+</button>Class Information
            </th>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table hidden="hidden" border=1 id="table_detail21" align=left cellpadding=10>
        <tr>
            <th>Course ID: @Model.sectionNumber</th>
        </tr>
        <tr>
            <th>Units: @Model.getUnits()</th>
        </tr>
        <tr>
            <th>Session Date: @Model.schoolTerm @Model.schoolYear </th>
        </tr>
        <tr>
            <th>Component: getLecture/getLab </th>
        </tr>
        <tr>
            <th>Enrollment Status: Open</th>
        </tr>
    </table>
</div>

<div id="wrapper">
    <table border=1 id="table_detail" align=left cellpadding=10>
        <tr>
            <th><button onclick="toggle('table_detail31');">+</button>Class Availability
            </th>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table hidden="hidden" border=1 id="table_detail31" align=left cellpadding=10>
        <tr>
            <th>Enrollment Capacity: @Model.enrollmentCap</th>
        </tr>

        <tr>
            <th>Wait List Capacity: @Model.waitListcap</th>
        </tr>
        <tr>
            <th>Wait List Total: @Model.waitListTotal</th>
        </tr>
    </table>
</div>


<div id="wrapper">
    <table border=1 id="table_detail" align=left cellpadding=10>
        <tr>
            <th><button onclick="toggle('table_detail41');">+</button>Meeting Information
            </th>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table hidden="hidden" border=1 id="table_detail41" align=left cellpadding=10>
        <tr>
            <th>Days/Times: @Model.getDay()</th>
        </tr>
        <tr>
            <th>Location: @Model.classLocation</th>
        </tr>
        <tr>
            <th>Meeting Dates: @Model.startDate - @Model.endDate </th>
        </tr>
        <tr>
            <th>Instructor: @Model.getProfessorFullName()</th>
        </tr>

    </table>
</div>

<div id="wrapper">
    <table border=1 id="table_detail" align=left cellpadding=10>
        <tr>
            <th><button onclick="toggle('table_detail51');">+</button>Course Information
            </th>
        </tr>
    </table>
</div>
<div id="wrapper">
    <table hidden="hidden" border=1 id="table_detail51" align=left cellpadding=10>
        <tr>
            <th>Course Description: @Model.getCourseDescription()</th>
        </tr>
    </table>
    <a href="@Url.Action("SectionSearch", "Section")" class="elements">
        <button onclick="OnUpdate">Return</button>
    </a>
</div>
