@{
    ViewData["Title"] = "Professor Login";
}

@model Registration.DbModels.Login

@using (Html.BeginForm("dashboard","Professor", FormMethod.Get))
{
    <div id="display" class="display">
        <div class="header" id="headerDiv">
            <h2>Welcome</h2>
            <h6>Please fill in your credentials to login</h6>
        </div>
        <div class="mb-2 col-form-label">
            <div class="form-floating">
                @Html.TextBoxFor(model => model.id, htmlAttributes: new { @class="form-control",required="required" })
                @Html.LabelFor(model => model.id)
            </div>
        </div>
        <div class="mb-2 col-form-label">
            <div class="form-floating">
                @Html.PasswordFor(model => model.password, htmlAttributes: new { @class="form-control", required="required" })
                @Html.LabelFor(model => model.password)
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-info" id="signin" value="Sign in">
        </div>
        <br>
        <hr/>
        <div id="login-error">
            @ViewData["message"]
        </div>
    </div>
}