@model Registration.Models.Student

@{
    ViewData["Title"] = "Student Dashboard";
}
<div class="card" id="card">
    <div class="card-body">
        <h3 class="card-title">Welcome, @Model.Name</h3>
        <p class="card-text">ID: @Model.ID</p>
        <p class="card-text">Address: @Model.Address </p>
        <p class="card-text">Telephone: @Model.Phone</p>
        <p class="card-text">Email: @Model.Email</p>
    </div>
</div>

<div class="card" id="schedulecard">
    <div class="card-body">
        <h3 class="card-title">My Schedule</h3>
        <div class="scrollit">
            <table id="coursetable">
                <tr>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Days/Times</th>
                    <th>Room</th>
                    <th>Instructor</th>
                </tr>
                @for (int i = 0; i < @Model.Sections.Count; i++)
                {
                    <tr>
                        <th>@Model.Sections[i].getCourseName()</th>
                        <th>@Model.Sections[i].sectionNumber</th>
                        <th>@Model.Sections[i].getDay() @Model.Sections[i].getTime()</th>
                        <th>@Model.Sections[i].classLocation</th>
                        <th>@Model.Sections[i].getProfessorFullName()</th>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="card" id="navcard">
        <div class="card-body">
            <a href="@Url.Action("Index", "Section")" class="elements">
                <button onclick="OnUpdate">Enroll</button>
            </a>
            <a href="@Url.Action("Index", "Course")" class="elements">
                <button onclick="OnUpdate">Courses</button>
            </a>
            <a href="@Url.Action("Index", "Home")" class="elements">
                <button onclick="OnUpdate">Logout</button>
            </a>
        </div>
    </div>